@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cronus";
  src: url("../public/Cronus Round.otf") format('truetype');
}
@font-face {
  font-family: "Belgiano";
  src: url("../public/Belgiano Serif 2.otf") format('truetype');
}
* {
  box-sizing: border-box !important;
}


@media (max-width: 768px) {
  .responsive-flex {
    flex-direction: column;
    align-items: center;
  }
}

.cronus-font {
  font-family: "Cronus" !important;
}

.arial-font {
  font-family: Arial !important;
}

.title-font {
  font-family: "Belgiano" !important;
}