@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box !important;
}


@media (max-width: 768px) {
  .responsive-flex {
    flex-direction: column;
    align-items: center;
  }
}

.cronus-font {
  font-family: "Cronus Round" !important;
}

.arial-font {
  font-family: Arial !important;
}