@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cronus';
  src: url('/Cronus Round.otf') format('truetype');
}

@font-face {
  font-family: 'Baskerville';
  src: url('/Baskerville-BT.ttf') format('truetype');
}

@media (max-width: 768px) {
  .responsive-flex {
    flex-direction: column;
    align-items: center;
  }
}

* {
  box-sizing: border-box !important;
}

body {
  position: relative;
  min-height: 100vh;
}

main {
  padding-bottom: 3.5rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
}

textarea {
  resize: none;
}

.cronus-font {
  font-family: 'Cronus' !important;
}

.arial-font {
  font-family: Arial !important;
}

.title-font {
  font-family: 'Baskerville', 'Times New Roman', Times, serif !important;
}

.frame-border {
  border: 0.5rem ridge rgba(70, 54, 7, 0.2);
  box-shadow: 0 0 0.5rem 0.25rem rgba(70, 54, 7, 0.3);
}

#website-list a:hover {
  color: skyblue !important;
}
